---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section
    id="about"
    class="lg:flex justify-center w-full container -scroll-m-20 mt-20"
  >
    <h1 class="mb-5 text-3xl subtitle">About me</h1>
    <p class="lg:m-15 p-10 text-base font-normal text-gray-300 relative">
      I’m Luis Hurtado a <span
        class="bg-gradient-to-r from-purple-600 via-purple-400 to-fuchsia-500 bg-clip-text text-transparent"
        >QA Engineer</span
      > with experience in automation with Java and Selenium as my main<br /> toolkit
      and manual testing, as well as <span
        class="bg-gradient-to-r from-purple-600 via-purple-400 to-fuchsia-500 bg-clip-text text-transparent"
        >Front-End developer</span
      > with React as main tool. <br />

      Focused on delivering high-quality software with teamwork and good
      communication, <br /> always ready to improve and contribute with my knowledge.
    </p>
  </section>
</Layout>
