---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="flex items-center justify-center">
    <div class="contact">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M8 11v5"></path><path d="M8 8v.01"></path><path d="M12 16v-5"
        ></path><path d="M16 16v-3a2 2 0 1 0 -4 0"></path><path
          d="M3 7a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4z"
        ></path></svg
      >
      <a
        class="ms-2"
        href="https://www.linkedin.com/in/luis-fernando-h-4b541513a/"
        >LinkedIn</a
      >
    </div>
    <div class="contact">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-mail"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
        ></path><path d="M3 7l9 6l9 -6"></path></svg
      >
      <a
        class="ms-2"
        href="mailto:luisferhc352@gmail.com"
        target="_blank"
        rel="noopener noreferrer">Contact</a
      >
    </div>
  </section>
</Layout>
