---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "./ProjectCard.astro";
---

<Layout>
  <div
    id="projects"
    class="relative lg:flex justify-center w-full container scroll-m-10 mt-20"
  >
    <h1 class="mb-5 text-3xl subtitle">Projects</h1>
    <section class="lg:m-15 lg:p-10">
      <ProjectCard />
    </section>
  </div>
</Layout>
