---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <title>Luis H Portfolio</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Quicksand&display=swap");

  html {
    font-family: "Mochiy Pop One", serif;
    scroll-behavior: smooth;
  }

  body {
    overscroll-behavior: none;
    background: radial-gradient(#2c2e3d, #080a05);
  }
</style>
